* {
  font-family:tahoma;
  font-size:12px;
  padding:0px;
  margin:0px;
}
body, html{
  height: 100%;
}
p{
  line-height:18px;
  margin: 0 5px;
}
p{
  border-radius: 25px;
}
.g-recaptcha{
  position: absolute;
  top: 50%;
  right: 0;
}
.room{
  color: #adcae6;
  text-decoration: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0);

  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}
.room:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}
.whisper{
  opacity: .3;
  font-style: italic;

}
.colorBlock:hover{
  cursor: pointer;
}
.colorBlock, .colorBlockSuccess{
  width: 20px;
  height: 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}
.colorBlockSuccess{
  margin: 0 5px;
}
.interfaceMessage{
  margin-left: 10px;
}
#currentUsers{
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: default;
}
#characterLimit{
  position: fixed;
  bottom: 8px;
  right: 15px;
  color: #46454b;
}
#more{
  width: 100%;
  text-align: center;
  background-color: grey;
  opacity: .25;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 35px;
  display: none;
}
#more:hover{
  cursor: pointer;
}
#input {
  -webkit-box-sizing: border-box;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
  overflow: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#suggestion{
  margin: 0;
  padding-left: 11px;
  position: fixed;
  bottom: 7px;
  opacity: .4;
}
#garbage{
  width: 100%;
  height: 100%;
}
#wrapper{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  bottom: 35px;
}
#splash{
  margin-top: 100px;
  width: 100%;
  height: auto;
  text-align: center;
  display: none;
}
#roomInput, #roomButton{
  margin: 0 auto;
  display: block;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 50%;
  height: 100px;
}
#roomInput{
  color: #C7C7CD;
  font-size: 3em;
  border-radius: 3px 3px 0 0;
  border-width: 1px 1px 0px 1px;
}
#roomButton{
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  background-color: #C7C7CD;
  border-color: #C7C7CD;
  color: white;
  cursor: pointer;
  border-radius: 0 0 3px 3px;
  border-width: 1px 1px 1px 1px;
  height: 20px;
}
#roomButton:hover{
  background-color: #D3D3D3;
}
.mentionsMe, .myMessage{
  cursor: default;
}
.myMessage{
  padding: 1px 2px;
  border-radius: 5px;
  background-color: #E8E8EE;
}
.mentionsMe{
  padding: 0px 8px 1px 8px;
  background-color: #ffcccc;
  border-radius: 10px;
}
.stillHere{
  color: #89cff0;
}
.username:hover{
  text-decoration: underline;
  cursor: pointer;
}
p span:nth-child(1){
  margin: 0 5px;
}
